
html{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Utilidades */

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.px-2{
    padding: 0 2rem;
}

.py-3{
    padding: 3rem 0;
}

.p-8{
    padding: 8rem;
}

.p-2{
    padding: 2rem;
}

/* Navegación */

.nav{
    background-color: rgb(85, 85, 85);
}

.ul-nav{
    list-style: none;
    gap: 3rem;
    font-size: 1.4rem;
}

.nav-link{
    color: white;
}

/* Presentacion */

.presentacion{
    background-color: rgba(136, 136, 136, 0.856);
}

.presentacion-foto{
    width: 400px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit:cover;
}

.presentacion-text{
    font-size: 1.3rem;
    color: white;
}

/* Conocimientos */

#conocimientos-title{
    cursor: pointer;
}

#conocimientos-text{
    display: block;
}