
html{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Utilidades */

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.px-2{
    padding: 0 2rem;
}

.py-3{
    padding: 3rem 0;
}

.p-8{
    padding: 8rem;
}

.p-2{
    padding: 2rem;
}

/* Navegación */

.nav{
    background-color: rgb(85, 85, 85);
}

.ul-nav{
    list-style: none;
    gap: 3rem;
    font-size: 1.4rem;
}

.nav-link{
    color: white;
}

/* Presentacion */

.presentacion{
    background-color: rgba(136, 136, 136, 0.856);
}

.presentacion-foto{
    width: 400px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit:cover;
}

.presentacion-text{
    font-size: 1.3rem;
    color: white;
}

/* Conocimientos */

.conocimientos-title{
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
}

.conocimientos-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 500px; /* Suficiente para mostrar el contenido completo */
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.conocimientos-text.active {
    opacity: 0;
}

.arrow {
  display: inline-block;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.arrow.rotated {
  transform: rotate(180deg); /* Gira la flecha hacia arriba */
}

.conocimientos-img{
    height: 10rem;
}

.conocimientos-img__text{
    font-size: 1.2rem;
    text-align: center;
}

.bold{
    font-weight: bold;
}